<div class="word_container_header">
    div.
    <button type="submit" class="basic_btn" id="save_list_btn">save</button>
    <label for="name">name</label>
    <input type="text" name="name" id="name" placeholder="name" value="<%= list.name %> ">
    <button type="button" class="basic_btn" id="add_word_btn">Add field</button>
    <a href="/" class="cancel_btn">Cancel</a>
</div>
