<button type="submit" id="save_list_btn">save</button>
<label for="name">name</label>
<input type="text" name="name" id="name" value="<%= list.name %> ">

<button type="button" id="add_word_btn">Add</button>

<a href="/">Cancel</a>