<div class="word_field">
    <label>langOne</label>
    <input type="text" name="langOne" value="<%= word.langOne %>">
    <label>langTwo</label>
    <input type="text" name="langTwo" value="<%= word.langTwo %>" class="second_field">
    <button type="click" class="remove_word_btn">Delete</button>
</div>
