<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>edit</h1>


    <form action="/lists/<%= list.id %>?_method=PUT" method="POST">

        <label for="name">name</label>
        <input type="text" name="name" id="name" value="<%=list.name%> ">
        <button type="button" id="add_word_btn">Add</button>
        <a href="/">Cancel</a>
        
        <% list.words.forEach(word => { %>

            <div class="word_field">
                <label>langOne</label>
                <input type="text" name="langOne" value="<%= word.langOne %>">
                <label>langTwo</label>
                <input type="text" name="langTwo" value="<%= word.langTwo %>">
            
                <button type="button" class="remove_word_btn">Delete</button>
            </div>
            
     
        <% }) %>

        <button type="submit" id="save_list_btn">save</button>
    </form>

    <script type="module" src="/JS/UI.js"></script>
</body>
</html>