<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>index</h1>
    <a href="/lists/new">new list</a>

    <ul>
        <% lists.forEach(list => { %>
            <li><%= list.name %>  <a href="/lists/<%= list.id %>">show</a> <a href="/lists/edit/<%= list.id %>">Edit</a>></li>
        <% }) %>
    </ul>
</body>
</html>