<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>index</h1>
    <a href="/lists/new">new list</a>

    <% lists.forEach(list => { %>
        <div class="list_item">
            <span><%= list.name %></span>
            <button type="button" class="remove_list_btn" value="<%= list.id %>">Remove</button>
            <a href="/lists/edit/<%= list.id %>">Edit</a>
            <a href="/games/<%= list.id %>" id="play_btn">Play</a>
        </div>
    <% }) %>
            
    <script src="/JS/UI.js"></script>
</body>
</html>