<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>index</h1>
    <a href="/lists/new">new list</a>

    <form action="/games" method="POST">
        <input type="hidden" name="list" id="selected_list" value="">
        <button type="submit">Play</button>
    </form>

    <!-- <a href="/games" id="play_btn">Play</a> -->

    <% lists.forEach(list => { %>
        <div class="list_item">
            <button type="button" class="select_item_btn" id="<%= list.id %>">select</button>
            <span><%= list.name %></span>
            <a href="/lists/<%= list.id %>">show</a> <a href="/lists/edit/<%= list.id %>">Edit</a>
        </div>
    <% }) %>
            
    <script src="/JS/UI.js"></script>
</body>
</html>