*  
    { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

html, body {
    height: 100%;
}

body {
    background-color: turquoise;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    max-width: 960px;
    background-color: pink;
}

.list_container {
    display: flex;
    flex-direction: column;  
    flex-grow: 1;
    background-color: green;
}

.list_item {
    display: flex;
    flex-direction: row;
    margin: 5px;
    background-color: red;
}

.list_item_name {
    flex-grow: 1;
}

.main_title {
    margin: 5px auto;
    padding: 5px;
    background-color: tomato;
    
}

.main_header {
    background-color: orange;
    display: flex;
    justify-content: center;
}

.main_nav {
    background-color: green;   
}

.main_footer {
    background-color: blue;
}

#new_list_btn {
    align-self: flex-end;
}


.red_alert {
    background-color: red;
}

.yellow_alert {
    background-color: yellow;
}