@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

*  
    { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

html, body {
    height: 100%;
}

body {
    background-color: #FFFFFF;
    background-color: pink;
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    max-width: 960px;

    /* background-color: white; */
}

.list_container {
    display: flex;
    flex-direction: column;  
    flex-grow: 1;
    align-self: center;
    width: 90%;
    max-width: 640px;
}

.list_item {
    display: flex;
    flex-direction: row;
    /* margin: 5px; */
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 4px;
    padding: 3px;
    margin: 3px;
    
}

.list_item:hover {
    transition: ease;
    background-color: #FFEDE6;
}

.list_item_name {
    flex-grow: 1;
}

.word_container {
    /* display: flex;
    flex-direction: column; */
    flex-grow: 1;
    width: 90%;
    max-width: 640px;
    align-self: center;
    /* background-color: yellowgreen; */
}

.word_container_header {
    display: flex;
    flex-direction: column;
    margin: 0 2px 10px 2px;
}

.word_field {
    display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
    width: 100%;
}

.first_field, .second_field {
    flex-grow: 1;
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
    outline: none;
}

#answer_input {
    flex-grow: 0.8;
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 4px;
    padding: 6px;
    margin: 2px;
    outline: none;
    font-size:24px;
}

#next_btn {
    flex-grow: 0.2;
    margin: 2px;
    font-size: 16pt;
    text-align: center;
}

#answer_label {
    margin: 0 0 2px 2px;
    font-size: 1.5em;
}

#cheat_div {
    margin: 2px 0 0px 5px;
}

/* #list_name_label {
    margin: 0 0 0 2px;
} */

#list_name {
    width: 50%;
    flex-grow: 1;
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px;
    margin: 3px 0 3px 0;
    outline: none;
}


.header_buttons {
    display: flex;
    flex-direction: row;
}
#cancel_list_btn {
    color:black;
    padding: 3px;
}

.remove_word_btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 2px solid black;
    border-radius: 4px;
    margin: 2px 2px 2px 0px;
    padding: 2px 4px 2px 4px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    /* font-size: 2vw;
    text-align: center; */
    background-color: white;
}

.remove_word_btn:hover {
    background-color: #FFEDE6;
    transition: 0.1s;
    cursor: pointer;
}

.play_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 90%;
    max-width: 480px;
    align-self: center;
    margin-top: 20px;
}

.answer_container {
    display: flex;
    flex-direction: row;
}


.main_title {
    font-family: 'Indie Flower', cursive;
    margin: 5px auto;
    padding: 5px;
    
}

.main_header {
    display: flex;
    justify-content: center;
}
.main_footer {
    text-align: center;
    font-size: 9px;
    margin-bottom: 3px;
}

.main_footer a {
    text-decoration: none;
    color: black;
}

.main_footer a:hover {
    color: grey;
}

.remove_list_btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-right: 10px;
}

.edit_list_btn, .play_list_btn {
    text-decoration: none;
    color: black;
    margin: 0 2px 0 5px;
}

#new_list_btn {
    align-self: flex-end;
    /* background-color: #FFFFFF;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    text-decoration: none; */
    /* padding: 3px; */
    margin: 3px 3px 0 0;
}

.basic_btn {
    background-color: #FFFFFF;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    padding: 3px;
    text-decoration: none;
    outline: none;
    margin-right: 4px;
}

.basic_btn:hover {
    background-color: #FFEDE6;
    transition: 0.1s;
    cursor: pointer;
}

#new_list_btn:hover {
}


.red_alert {
    background-color: red !important;
}

.yellow_alert {
    background-color: yellow !important;
}