<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>game</h1>

    <form action="" method="POST">

        <label for="answer"></label>
        <input type="text" name="answer">

        <button type="submit">Next</button>

    </form>

    <% game.words.forEach(word => { %>
        <p> <%= word.retries %> </p>
    <% }) %>
   
</body>
</html>