<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>game</h1>

    <label for="answer_input" id="answer_label"><%= word.word.langOne %></label>
    <input type="hidden" id="word_id" value="<%= word.word._id %>">
    <input type="hidden" id="game_id" value="<%= game.id %>">
    <input type="text" class="" name="answer_input" value="" id="answer_input">
    <button type="button" id="next_btn">Next</button>
   
    <script src="/JS/GameController.js"></script>
</body>
</html>