<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>game</h1>

    <h3> <%= list.name %> </h3>

    <input type="hidden" value="<%= list.id %>" id="list_id">
    <input type="hidden" value="<%= game.id %>" id="game_id">

   
    <script src="/JS/GameController.js"></script>
</body>
</html>