<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>game</h1>

    <h1>list_name; <%= game.words[0].retries %> </h1>

    <label for="answer_input" id="answer_label"></label>
    <!-- <input type="hidden" value="" id="word_id"> -->
    <input type="hidden" value="<%= game.id %>" id="game_id">
    <input type="text" name="answer_input" value="" id="answer_input">
    <button type="button" id="next_btn">Next</button>

   
    <script src="/JS/GameController.js"></script>
</body>
</html>